<mat-card class="settings-change-password">
    <mat-card-title>Change Password</mat-card-title>
    <mat-divider></mat-divider>
    <div class="multi-column halves">
        <div class="settings-form-field-wrapper">

            <mat-form-field color="accent">
                <input matInput type="password" placeholder="Current Password"
                       [(ngModel)]="change_password.password">
            </mat-form-field>
            <mat-error *ngIf="errors.password.display">
                {{errors.password.message}}
            </mat-error>

            <mat-divider></mat-divider>

            <mat-form-field color="accent">
                <input matInput type="password" placeholder="New Password"
                       [(ngModel)]="change_password.new_password">
            </mat-form-field>
            <mat-error *ngIf="errors.new_password.display">
                {{errors.new_password.message}}
            </mat-error>
            <mat-form-field color="accent">
                <input matInput type="password" placeholder="New Password Confirmation"
                       [(ngModel)]="change_password.new_password_confirmation">
            </mat-form-field>
            <mat-error *ngIf="errors.new_password_confirmation.display">
                {{errors.new_password_confirmation.message}}
            </mat-error>

            <!-- current password -->
            <!-- new password -->
            <!-- new password confirm -->

        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-raised-button (click)="submit_password_change()" color="primary">Save Changes</button>
    </mat-card-actions>
</mat-card>
