<div class="forgot-password-form-container">
    <mat-card>
        <div *ngIf="form_step != 'email_sent'" class="forgot-password-form">

            <mat-form-field color="accent">
                <input matInput [(ngModel)]="forgot_password.email" type="text"
                       placeholder="Enter your email address"/>
                <div class="mat-error" *ngIf="forgot_password_errors.email.display">
                    {{forgot_password_errors.email.message}}
                </div>
            </mat-form-field>
            <div class="actions">
                <button *ngIf="form_step == 'reset'" mat-raised-button color="primary" (click)="submitAnswer()">
                    Look me up
                </button>
                <br/>
                <button mat-button routerLink="/login">← Back to login</button>
            </div>


        </div>
        <div *ngIf="form_step == 'email_sent'" class="forgot-password-form">
            <p>
                We've sent you an email with reset password instructions!
            </p>
            <p>
                <a routerLink="/login">← Back to login</a>
            </p>
        </div>
    </mat-card>
</div>
