@import "variables.scss";


html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  @include mq('desktop', max){
    font-size: 15px;
  }
  
  @include mq('tablet-small', max) {
    font-size: 14px;
  }

  @include mq('phone-wide', max) {
    font-size: 13px;
  }

}

body {
  font-family: $primary-font !important;
  color: $brand-secondary;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: $dark-gray;
}


label{
  display: inline-block;
  margin: 0;
}


h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-size: inherit;
  font-weight: 600;
}

h1 {
  line-height: 1;
  font-size: 3.157rem;
  margin: 0 0 0 0;
}

h2 {
  font-size: 2.369rem;
  margin: 0 0 0 0;
}

h3 {
  font-size: 1.777rem;
  margin: 0 0 0 0;
}

h4 {
  font-size: 1.333rem;
  margin: 0 0 0 0;
}

h5 {
  font-size: 1rem;
  margin: 0 0 0 0;
}

h6 {
  font-size: .75rem;
  margin: 0 0 0 0;
}

ul li{
  font-size: 1rem;
}

span{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}



p, address {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}
p {
  margin-top: 0;
}


a{
  font-size: 1rem;
  cursor: pointer;
  color: $brand-secondary;
  &.warn {
    color: $warn;
  }
}

