<div class="reset-password-form-container">
    <mat-card>
        <div class="reset-password-form">
            <mat-form-field color="accent">
                <input [disabled]="!token_editable" matInput [(ngModel)]="reset_password.token" type="text"
                       placeholder="Token"/>
            </mat-form-field>
            <mat-error *ngIf="reset_password_errors.token.display">{{reset_password_errors.token.message}}</mat-error>

            <mat-form-field color="accent">
                <input matInput [(ngModel)]="reset_password.email" type="text"
                       placeholder="Email"/>
            </mat-form-field>
            <mat-error *ngIf="reset_password_errors.email.display">{{reset_password_errors.email.message}}</mat-error>

            <mat-form-field color="accent">
                <input matInput [(ngModel)]="reset_password.password" type="password"
                       placeholder="Password"/>
            </mat-form-field>
            <mat-error *ngIf="reset_password_errors.password.display">{{reset_password_errors.password.message}}</mat-error>

            <mat-form-field color="accent">
                <input matInput [(ngModel)]="reset_password.password_confirmation" type="password"
                       placeholder="re-Type Password"/>
            </mat-form-field>
            <mat-error *ngIf="reset_password_errors.password_confirmation.display">{{reset_password_errors.password_confirmation.message}}</mat-error>
            <div class="actions">
                <button mat-raised-button color="primary" (click)="resetPassword()">
                    Reset Password
                </button>
            </div>
        </div>
    </mat-card>
</div>